{{{name}}}
====

Rdt Project Powered by RDE

[![RDE](https://img.shields.io/badge/cli-oclif-brightgreen.svg)]({{{homepage}}})

* [Quick Start](#Quick Start)
* [Commands](#Commands)
* [FAQ](#FAQ)

# Quick Start
<!-- usage -->
```sh-session
$ npm install -g rde
$ rde template:serve
```

# Commands
<!-- commands -->
* `rde template:build`
* `rde template:serve`
* `rde template:lint`
* `rde template:run CMD`

# FAQ
<!-- faq -->
## what is RDE
see [RDE website]({{{homepage}}}) for details.
