<html>
<head>
  <meta title="<% title %>">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1183501_stmalbigu4h.css">

  <%>style%>
  <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
  <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>

  <%>frameworkScripts%>
  <%>userScripts%>
</head>
<body>
  <div id="rde-docs">
    <div id="rde-layout">
      <%>layout%>
    </div>

    <div id="rde-page" data-simplebar>
      <%{content}%>

      <div id="example1"></div>
      <script>
        Vue.component('component-box', {
          el: 'example1',
          template: `
          <div class="rde-component">
            <div id="test" class="rde-component__example">
              <slot></slot>
            </div>
            <div class="rde-component__code" v-if="!collapse">
             123
            </div>
            <div class="rde-component-control">
              <a @click="collapse=!collapse"
                class="rde-component-control__collapse"
                href="javascript:;" v-html="collapse ? '显示代码' : '隐藏代码'">
              </a>
              <a class="rde-component-control__run"
                   href="javascript:;">在线运行</a>
            </div>
          </div>
          `,
          data() {
            return {
              collapse: true,
            }
          },
        });
      </script>
    </div>
  </div>

  <script>
    window.rdeConf = {
      navs: <%{navs}%>,
      pages: <%{pages}%>,
    };

    new Vue({
      el: '#rde-layout',
      data() {
        return {
          scrollbarOps: {
            bar: { background: '#ECECEC' },
          },
          ...window.rdeConf,
        };
      },
      mounted() {
        const el = new SimpleBar(this.$refs.sidebarWrap);
        el.recalculate();
      },
      methods: {
        isCrtNav(nav) {
          if (!nav.main && nav.url === location.pathname) {
            return true;
          }

          if (nav.main) {
            return true;
          }
        },
        isCrtPage(page) {
          return page.url === location.pathname;
        },
      },
    });
  </script>
</body>
</html>
