<html>
<head>
  <meta title="<% title %>">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico">

  <%>style%>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/vuescroll"></script>
</head>
<body>
  <div id="rde-layout">
    <%>layout%>
  </div>

  <div id="rde-page">
    <%{content}%>
  </div>

  <script>
    new Vue({
      el: '#rde-layout',
      data: {
        navs: <%{navs}%>,
        pages: <%{pages}%>
      },
    })
  </script>
</body>
</html>
