<html>
<head>
  <meta title="<% title %>">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <title><% title %></title>
  <base href="<%baseUrl%>">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/mono-blue.min.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1183501_stmalbigu4h.css">

  <%>style%>
  <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
  <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>

  <%>frameworkScripts%>
  <%#userStyles%>
    <link rel="stylesheet" href="<%{.}%>" />
  <%/userStyles%>
  <%#userScripts%>
    <script src="<%{.}%>"></script>
  <%/userScripts%>
</head>
<body>
  <div id="rde-docs">
    <div id="rde-layout">
      <%>layout%>
    </div>

    <div id="rde-page">
      <%{content}%>
    </div>
  </div>

  <script>
    window.rdeConf = {
      navs: <%{navs}%>,
      pages: <%{pages}%>,
    };

    new Vue({
      el: '#rde-layout',
      data() {
        return {
          scrollbarOps: {
            bar: { background: '#ECECEC' },
          },
          ...window.rdeConf,
        };
      },
      mounted() {
        const el = new SimpleBar(this.$refs.sidebarWrap);
        el.recalculate();

        const contentEl = new SimpleBar(document.querySelector('#rde-page'))
        contentEl.recalculate()
      },
      methods: {
        isCrtNav(nav) {
          if (!nav.main && nav.url === location.pathname) {
            return true;
          }

          if (nav.main) {
            return true;
          }
        },
        isCrtPage(page) {
          return page.url === location.pathname;
        },
      },
    });

  </script>
</body>
</html>
