<header class="rde-header">
  <div class="rde-header__wrap">
    <h1 class="rde-header-logo">
      <span class="rde-header-logo__img"></span>
      &nbsp;<%title%>
    </h1>

    <ul class="rde-header-navs">
      <li v-for="nav in navs"
          class="rde-header-navs__item" :class="{'rde-header-navs__item--crt': isCrtNav(nav)}">

        <a :href="nav.url || '/index.html'">{{nav.title}}</a>
      </li>
    </ul>
  </div>
</header>

<aside class="rde-sidebar-wrap">
  <div style="height: 100%" ref="sidebarWrap">
    <ul class="rde-sidebar">
      <li v-for="page in pages">
        <ul v-if="page.children">
          <li>
            <p class="rde-sidebar__category">
              {{page.title}}
              <i>{{page.subTitle}}</i>
            </p>

            <ul class="rde-sidebar-pagewrap">
              <li v-for="child in page.children" class="rde-sidebar__page">
                <a :href="child.url"
                   class="rde-sidebar__page"
                   :class="{'rde-sidebar__page--crt': isCrtPage(child)}">
                  {{child.title}}
                  <i>{{child.subTitle}}</i>
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <a v-else
           :href="page.url"
           class="rde-sidebar__page rde-sidebar__page--main"
           :class="{'rde-sidebar__page--crt': isCrtPage(page)}">
          {{page.title}}
          <i>{{page.subTitle}}</i>
        </a>
      </li>
    </ul>
  </div>
</aside>
