<header class="rde-header">
  <h1 class="rde-header-logo">
    <img data-v-88c41124="" src="//haitao.nos.netease.com/8f6c2273-57df-4c79-b714-4095502aa33b.svg" width="60px" alt="element-logo" class="nav-logo">
    &nbsp;<%title%>
  </h1>

  <ul class="rde-header-navs">
    <li v-for="nav in navs"
        class="rde-header-navs__item" >

      <a :href="nav.url">{{nav.title}}</a>
    </li>
  </ul>
</header>

<aside class="rde-sidebar">
  <vue-scroll>
    <ul>
      <li v-for="page in pages">{{page.title}}</li>
    </ul>
  </vue-scroll>
</aside>
