<style>
  :root {
    --font-size: 14px;
    --font-color: #666;
    --primary-color: #68BAEB;
    --link-color: #0398FF;

    --header-height: 68px;
    --sidebar-width: 240px;
  }

  .simplebar-scrollbar:before { background: #C8C9CD!important; }

  html, body { width: 100%; height: 100%; font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif; color: var(--font-color); font-size: var(--font-size); }
  body { overflow: hidden; }

  #rde-docs { position: relative; width: 1200px; height: 100%; margin: 0 auto; }
  #rde-page { position: absolute; left: var(--sidebar-width); top: var(--header-height); right: calc((1200px - 100vw)/2); bottom: 0; padding: 48px calc((100vw - 1200px)/2) 48px 60px; }

  /* header */
  .rde-header { position: fixed; top: 0; left: 0; right: 0; height: var(--header-height); background: linear-gradient(to right,#68BAEB 10%,#0ac6c2);  }
  .rde-header__wrap { width: 1080px; margin: 0 auto; }
  .rde-header-logo { display: flex; float: left; height: 100%; margin: 0; color: #fff; align-items: center; font-size: 32px; font-weight: lighter;
    font-family: Courier New, serif; }
  .rde-header-logo__img { display: block; float: left; margin-left: 12px; margin-right: 20px; width: 72px; height: 72px; font-size: 0; background: url(https://haitao.nos.netease.com/6f8e6539-cfca-4d4b-869c-dc6bf9bc4c65_323_329.png) center center no-repeat #fff; background-size: 54px;  }

  .rde-header-navs { float: right; height: 100%;  list-style: none; margin:0; padding: 0; }
  .rde-header-navs__item { float: left; height: 100%; }
  .rde-header-navs__item a { position: relative; display: flex; align-items: center; height: 100%; text-decoration: none; padding: 0 22px; font-size: 14px; color: rgba(255,255,255,.75); transition: color .3s; }
  .rde-header-navs__item a:hover { text-decoration: none; color: #fff; padding: 0 22px; }
  .rde-header-navs__item--crt a { color: #fff; }
  .rde-header-navs__item--crt a:after { content: ''; display: inline-block; position: absolute; bottom: 0; left: 22px; width: calc(100% - 44px); height: 2px; background: var(--primary-color) }

  /* sidebar */
  .rde-sidebar-wrap { position: absolute; top: var(--header-height); left: 0; bottom: 0; width: var(--sidebar-width); }
  .rde-sidebar-pagewrap { list-style: none; padding-left: 40px; }
  .rde-sidebar { box-sizing: border-box; height: 100%; font-size: 14px; padding: 20px 10px 100px 10px; border-right: 1px solid #ececec; }
  .rde-sidebar a { text-decoration: none; }
  .rde-sidebar ul { list-style: none; }
  .rde-sidebar__category { height: 40px; line-height: 40px; margin: 14px 0; font-size: 14px; color: #999; }
  .rde-sidebar__page i, .rde-sidebar__category i { margin-left: 2px; font-style: normal; color: #999; }
  .rde-sidebar__nav { display: block; height: 40px; line-height: 40px;  color: #999; font-size: 14px; font-weight: 400; }


  .rde-sidebar__page { height: 30px; line-height: 30px; font-size: 13px; color: #666; }
  .rde-sidebar__page--main { display: block; height: 40px; line-height: 40px; margin: 14px 0; }
  .rde-sidebar__page--crt, .rde-sidebar__page--crt i { color: var(--primary-color); }
  .rde-sidebar__page:hover, .rde-sidebar__page:hover i { color: var(--primary-color); }
</style>

<style>
  /* style md */
  .rde-h1, .rde-h2, .rde-h3, .rde-h4, .rde-h5, .rde-h6, .rde-h7, .rde-h8 { font-weight: 400; color: #1f2f3d; margin: 15px 0; }
  .rde-h1 { font-size: 28px; }
  .rde-h2 { font-size: 28px; }
  .rde-h3 { font-size: 22px; margin-top: 40px; }
  .rde-h4 { font-size: 18px; }
  .rde-h5 { font-size: 14px; }
  .rde-h6, .rde-h7, .rde-h8 { font-size: 12px; }

  .rde-p { line-height: 1.5em; }
  .rde-p + .rde-p { margin-top: 20px; }

  .rde-a { color: var(--link-color); text-decoration: none; }
  code { padding: 0 4px; }

  /* rde-component box */
  .rde-component { margin: 16px 0; border: 1px solid #e1e6ec; border-radius: 4px; }
  .rde-component:hover { box-shadow: 0 0 8px 0 rgba(232,237,250,0.6), 0 2px 4px 0 rgba(232,237,250,0.5); }

  .rde-component__example, .rde-component__code { padding: 16px 24px; }
  .rde-component__example, .rde-component__code { border-bottom: 1px solid #e1e6ec; }
  .rde-component__code { font-size: 12px; }

  .rde-component-control { display: flex; align-items: center; justify-content: center; height: 40px; line-height: 40px; padding: 0 24px; font-size: 12px; }
  .rde-component-control__collapse, .rde-component-control__run { color: var(--link-color); text-decoration: none; }
  .rde-component-control__collapse { flex: 1; text-align: center; }
  .rde-component-control__collapse a { display: inline-block; }
  .rde-component-control__run { margin-left: auto; }

  /* rde-component api */
  .rde-api { margin: 16px 0; }
  .rde-api__tt { font-family: monospace; font-size: 17px; margin:8px 0; padding: 16px 24px; border-left: 4px solid var(--primary-color); }
  .rde-api__subtt { font-size: 16px; margin:8px 0; padding: 16px 0; border-bottom: 1px solid #e1e6ec; }
  .rde-api__desc { margin: 24px 0 0 0; font-size: 15px; color: #999; }

  /* rde-component api */
  .rde-table { font-size: 12px; width: 100%; margin: 8px 0; }
  .rde-table th { background: #eef1f4; border-bottom: 1px solid #ecf2f9; color: #666; text-align: left; }
  .rde-table td, .rde-table th { line-height: 1.5em; padding: 0.5em 1.4em; border: none; }
  .rde-table td { border-bottom: 1px solid #ecf2f9; }
  .rde-table tr:nth-child(2n-1) { background: #fff; }
  .rde-table tr:nth-child(2n) { background: #f6f9fc; }
</style>

<style>
  code { background: #eaeef3; }
  blockquote { font-weight: bold; margin: 20px 0; padding-left: 20px; border-left: 2px solid var(--primary-color); }

  .hljs { font-family: Menlo,Monaco,Consolas,Courier,monospace; line-height: 1.8; font-size: 13px; padding: 12px 20px; margin: 8px 0; }

  .hljs code { font-size: 12px; color: #333; background: none; border: none; }
  .hljs-keyword, .hljs-attribute, .hljs-selector-tag, .hljs-meta-keyword, .hljs-doctag, .hljs-name { color: var(--primary-color); }
  .hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion { color: #D4595C; }
</style>
