<style>
  :root {
    --font-size: 12px;
    --font-color: #333;
    --primary-color: #00C4C0;

    --header-height: 80px;
    --sidebar-width: 240px;
  }

  html, body { width: 100%; height: 100%; font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif; font-weight: 400; color: var(--font-color); font-size: var(--font-size); }
  *  { margin: 0; padding: 0; }

  #rde-layout { position: relative; width: 1200px; height: 100%; margin: 0 auto; }
  #rde-page { position: absolute; left: var(--sidebar-width); top: var(--header-height); right: 0; bottom: 0; }

  /* header */
  .rde-header { height: var(--header-height); border-bottom: 1px solid #DCDFE6;  }
  .rde-header-logo { display: flex; float: left; height: 100%; align-items: center; font-size: 32px; font-weight: 300; }

  .rde-header-navs { float: right; height: 100%;  list-style: none; }
  .rde-header-navs__item { float: left; height: 100%; }
  .rde-header-navs__item a { position: relative; display: flex; align-items: center; height: 100%; text-decoration: none; padding: 0 22px; font-size: 16px; color: #999; }
  .rde-header-navs__item a:hover { text-decoration: none; color: var(--primary-color); padding: 0 22px; font-size: 16px; }
  .rde-header-navs__item--crt { color: var(--primary-color); }
  .rde-header-navs__item--crt a:after { content: ''; display: inline-block; position: absolute; bottom: 0; left: 22px; width: calc(100% - 44px); height: 2px; background: var(--primary-color) }

  /* sidebar */
  .rde-sidebar { position: absolute; top: var(--header-height); left: 0; bottom: 0; width: var(--sidebar-width); }
</style>
