<style>
  html, body { width: 100%; height: 100%; font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif; font-weight: 400; color: #333; font-size: 12px; }
  *  { margin: 0; padding: 0; }

  .rde-header { height: 80px; }
  .rde-header-container { width: 1200px; height: 100%; margin: 0 auto; border-bottom: 1px solid #DCDFE6; }
  .rde-header-container__logo { float: left; font-size: 32px; font-weight: 300; }
</style>
