module.exports = {
  {{#extends}}extends: '{{{extends}}}',{{/extends}}
  framework: '{{{framework}}}',
  docs: {
    url: '{{{docs}}}'
  },
  mappings: [],
  npm: {
    name: '{{{rdcRepo}}}',
    version: '0.0.1',
  },
};
