{{{name}}}
====

Project Powered by RDE

[![RDE](https://img.shields.io/badge/cli-oclif-brightgreen.svg)]({{{homepage}}})

* [Quick Start](#Quick Start)
* [Commands](#Commands)
* [FAQ](#FAQ)

# Quick Start
<!-- usage -->
```sh-session
* [安装node](https://nodejs.org)
* [安装docker](https://docs.docker.com/install/)
* [安装docker-compose](https://docs.docker.com/compose/install/)
* 启动docker

$ docker pull node
$ npm i -g rde
$ rde serve
```

# Commands
<!-- commands -->
* `rde build`
* `rde serve`
* `rde lint`
* `rde run CMD`

# FAQ
<!-- faq -->
## what is RDE
see [RDE website]({{{homepage}}}) for details.
