{{{name}}}
====

Project Powered by RDE

[![RDE](https://img.shields.io/badge/cli-oclif-brightgreen.svg)]({{{homepage}}})

* [Quick Start](#Quick Start)
* [Commands](#Commands)
* [FAQ](#FAQ)

# Quick Start
<!-- usage -->
```sh-session
$ npm install -g rde
$ rde serve
```

# Commands
<!-- commands -->
* `rde build`
* `rde serve`
* `rde lint`
* `rde run CMD`

# FAQ
<!-- faq -->
## what is RDE
see [RDE website]({{{homepage}}}) for details.
