version: '3'
services:
  rde:
    image: {{{tag}}}
    volumes:
    {{#isApp}}
    - ../app:{{{workDir}}}/app
    - ../rda.config.js:{{{workDir}}}/rda.config.js
    {{!- /Users/hale/Work/kaola/rde/lib:/usr/local/lib/node_modules/rde/lib}}
    {{/isApp}}
    {{^isApp}}
    - ../app:{{{workDir}}}/app
    - ../template:{{{workDir}}}/template
    - ../rdc.config.js:{{{workDir}}}/rdc.config.js
    {{/isApp}}
    ports:
    {{#ports}}
    - "{{.}}"
    {{/ports}}
    command: rde docker:run {{{cmd}}} {{#watch}}--watch{{/watch}}
