version: '3'
services:
  {{{tag}}}-service:
    build:
      context: .
      dockerfile: Dockerfile

    ports:
    {{#ports}}
      - "{{.}}"
    {{/ports}}

    volumes:
      - ../app:{{{workDir}}}/app
      - ../rda.config.js:{{{workDir}}}/rda.config.js
      - ../README.md:{{{workDir}}}/README.md
      - ../.gitignore:{{{workDir}}}/.gitignore
      - ../.git:{{{workDir}}}/.git
      - ~/.gitconfig:/root/.gitconfig
      {{!- /Users/hale/Work/kaola/rde/lib:/usr/local/share/.config/yarn/global/node_modules/rde/lib
      - /Users/hale/Work/kaola/rde/node_modules:/usr/local/share/.config/yarn/global/node_modules/rde/node_modules!}}

    command: sleep infinity
